body{
    background-color: antiquewhite;
}

#navbar{
    display: flex;
    height: 8vh;
    width: 92vw;
    margin-left: 4vw;
    padding-bottom: 1vh;
    border-bottom: 2px gray solid;
    margin-top: 2vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    flex-direction: row;

}